/*Start General*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Julius Sans One', sans-serif;
	color: black;
}
body {
	width: 100%;
	height: 100%;
	background-color: #0dc0c6;
	background-size: cover;
}
section {
	padding: 6rem 0;
}
a {
	text-decoration: none;
	color: black;
}
p {
	font-size: 1.8rem;
	font-weight: 300;
	font-family: 'Raleway', sans-serif; 
}
img {
	width: 100%;
}
.profile {
	margin-top: 900px;
}
.about-heading {
	margin-top: 900px;
}

/*End General*/

/*Start reusable*/
.container {
	width: 90%;
	max-width: 120rem;
	height: 100%;
	margin: 0 auto;
	position: relative;
	color: white;
}

.section-heading {
	text-align: center;
	margin-top: 10rem;
}

.section-heading h1 {
	font-size: 5rem;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	position: relative;
	margin-bottom: 1rem;
}

.section-heading h6 {
	font-size: 2rem;
}
.has-margin-right {
	margin-right: 3rem;
}
/*End reusable*/

/*Start header*/
header {
	width: 100%;
	height: 100%;
	margin-bottom: 13rem;
}
.top-nav {
	width: 100%;
	height: 100%;
	position: fixed;
	top: -100vh;
	z-index: 50;
	background: url("../images/background.jpg") no-repeat center fixed;
	background-size: cover;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
	transition: all 650ms cubic-bezier(1,0,0,1);
}
.nav-list {
	list-style: none;
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.atx {
	position: absolute;
	top:10%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	font-size: 5rem;
	color: black;
}
li {
	margin: 0 2rem;
}
.nav-link {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 3.5rem;
	padding: 1rem;
	color: black;
}
.nav-link:hover,
.nav-link:focus {
	background: linear-gradient(to top,white 30%, #f9029f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.top-nav.open{
	top: 0;
	border-radius: initial;
}
.menu-toggler {
	position: fixed;
	top: 5rem;
	right: 5rem;
	width: 5rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 1500;
	transition: transform 650ms ease-out;
}

.menu-toggler.open{
	transform: rotate(-45deg);
}
.bar {
	background-color: #f9029f;
	width: 100%;
	height: 4px;
	border-radius: .9rem;
}

.bar.half {
	width: 50%;
}
.bar.start {
	transform-origin: right;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.start {
	transform: rotate(-90deg) translateX(.8rem);
}

.bar.end {
	align-self: flex-end;
	transform-origin: left;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
	transform: rotate(-90deg) translateX(-.8rem);
}
.landing-text {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	z-index: 1;
	font-size: 15rem;
	font-family: 'Mr Dafoe', sans-serif;
}

.landing-text h1 {
	background: linear-gradient(to top, white 20%, #f9029f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.landing-text h6 {
	font-size: 1.3rem;
	font-family: 'Julius Sans One', sans-serif;
	color: white;
}

/*End header*/

/*Start about*/
.about .container {
	display: flex;
	align-items: center;
	justify-content: center;

}
.about-heading {
	color: white;
	text-align: center;
	text-transform: uppercase;
	line-height: 0;
	margin-bottom: 6rem;
}
.about-heading h1 {
	opacity: .5;
	font-size: 10rem;
}

.about-heading h6 {
	font-size: 3rem;
}

.about-details {
	flex: 1;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.profile-img {
	flex: 1;
	margin-right: 3rem;
}

.social-media {
	margin-top: 5rem;
}

.social-media i {
	font-size: 6rem;
	color: white;
	/*transition: color 300ms, background 300ms;*/
}
.social-media i.fa-linkedin {
	font-size: 5rem;
}

.fa-linkedin:hover {
	color: #4286f4;
	/*background-color: #0077B5;
	border-radius: 20%;
	width: 5.2rem;
	height: 5.2rem;*/
	transform: scale(1.2);
}

.fa-instagram:hover {
	background: linear-gradient(to top right,#e8d63a, #e53e14, #7c35e0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/*background: linear-gradient(to top right,#e8d63a, #e53e14, #7c35e0);
	border-radius: 20%;
	width: 5.2rem;
	height: 5.2rem;*/
	transform: scale(1.2);
}

.fa-github-square:hover {
	transform: scale(1.2);
	color: black;
}
.connectwithme {
	position: flex;
	text-align: center;
	transform: translateY(20px);
	font-size: 2.8rem;
}

/*End about*/

/*Start experience*/
.timeline ul {
	border-left: 4px solid #f9029f;
	border-radius: .8rem;
	background-color: rgba(0,0,0,0.05);
	margin: 0 auto;
	position: relative;
	padding: 5rem;
	list-style: none;
	text-align: left;
	width: 70%;
}
.timeline h3 {
	font-size: 2.4rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
.timeline h1 {
	margin-bottom: 1.2rem;
	font-size: 2rem;
	color: #f9029f;
	opacity: .7;
}

.timeline p {
	font-size: 1.3rem;
	margin-bottom: 12rem;
	font-family: 'Raleway', sans-serif;
}

.timeline p:last-child {
	margin-bottom: 2rem;
	font-size: 1.5rem;
}

.timeline .date {
	border-bottom: 1px solid rgba(255,255,255,0.4);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	position: relative;
}

.timeline .date:last-of-type {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}

.timeline .date::before,
.timeline .date::after {
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
}

.timeline .date::before {
	content: attr(data-date);
	left: -21rem;
	text-align: right;
	min-width: 12rem;
}

.timeline .date::after {
	content: '';
	box-shadow: 0 0 0 4px #f9029f;
	border-radius: 100%;
	left: -7.74rem;
	height: 1rem;
	width: 1rem;
	background-color: white;
}
.experience .container .section-heading {
	margin-bottom: 2rem;
}
/*End experience*/

/*Start portfolio*/
.portfolio-item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 7rem;
}
.portfolio-item:last-child {
	margin-bottom: 0;
}
.portfolio-img {
	flex: 1;
}
.portfolio h1 {
	font-size: 3rem;
}
.portfolio p {
	font-size: 1.32rem;
}

.portfolio-description {
	flex: 1;
}
.portfolio .container .section-heading {
	margin-bottom: 3rem;
}
.portfolio-description .cta {
	display: inline-block;
	margin-top: 2.5rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: white;
}
.portfolio-description .cta:hover {
	color: navy;
}
/*End Portfolio*/

/*Start contact me*/

form {
	width: 70%;
	margin: 0 auto;
}

form label {
	font-size: 1.5rem;
}

input, select, textarea {
	width: 100%;
	padding: 1rem;
	margin-bottom: 5px;
	outline-color: #f9029f;
	border: none;
	font-family: Arial;
}

input[type="submit"] {
	width: initial;
	background-color: #f9029f;
	color: #eee;
	padding: 1rem 2rem;
	border-radius: .8rem;
	cursor: pointer;
	transition: background-color: 650ms;
}

input[type="submit"]:hover {
	opacity: .8;
	transform: scale(1.1);
}
/*End contact me*/

/*Start footer*/

.copyright {
	width: 100%;
	color: white;
	text-align: center;
	background-color: #f9029f;
	padding: 1rem 0;
	position: relative;
	font-family: 'Julius Sans One', Arial;
}

.up {
	position: absolute;
	width: 5rem;
	height: 5rem;
	background-color: white;
	top:-2.5rem;
	right: 5rem;
	border-radius: 100%;
	display: flex;
	animation: pulse 2s infinite;
	cursor: pointer;
}

.copyright p {
	font-family: Arial;
}
/*End footer*/

/*Start animation*/
@keyframes pulse {
	0%{
		box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
	}
	70%{
		box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
	}
	100%{
		box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
	}
}
/*End animation*/

/*media queries*/
@media screen and (max-width: 1000px) {
	.landing-text h1 {
		font-size: 18rem;
	}
	.nav-link {
		font-size: 2rem;
	}
}

@media screen and (max-width: 768px) {
	body {
		background-size: cover;
	}

	.landing-text h1 {
		font-size: 15rem;
	}
	.nav-list {
		flex-direction: column;
	}
	li {
		margin: 2rem 0;
	}

	.about-heading h1{
		font-size: 4rem;
	}
	.about-heading h6{
		font-size: 1.3rem;
	}
	.about-details p {
		font-size: 1.4rem;
	}
	.social-media {
		text-align: center;
	}
	.social-media i {
		font-size: 3rem;
		margin-right: 4rem;
	}
	.social-media i.fa-linkedin {
		font-size: 3rem;
	}
	.social-media .nav-list {
		flex-direction: row;
		text-align: center;
	}
	
}
